./src/**/*
/docs/
/coverage/
/e2e/
**/*.yml
**/*.spec.*
.editorconfig
.gitattributes
.gitignore
.huskyrc
.lintstagedrc
.mdlrc
.prettierignore
.prettierrc
.stylelintignore
.stylelintrc
renovate.json
!/lib/
